.focuseItem {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 260px;
    left: calc(50% - 90px);
    top: calc(50% - 130px);
    pointer-events: none;

    .itemPercentGroup {
        display: block;
        width: 120px;
        .itemRating {
            position: relative;
            color: #656565;
            font-weight: 900;
        }
        .itemPercent {
            position: relative;
            font-size: 32px;
            font-family: "GmarketSans", sans-serif;
        }
    }

    .itemTitleGroup {
        display: block;
        text-align: center;
        .itemTitle {
            position: relative;
            font-size: 32px;
            font-weight: 900;
        }
        .itemSubText {
            position: relative;
            color: #a4a4a4;
            font-weight: 900;
        }
    }
}
