.slider {
    position: relative;
    width: 100%;
    height: calc(100vh - 208px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    //opacity: .1;
    //flex: 1;
    .slide {
        display: flex;
        height: 100%;
        align-items: center;
        .list {
            will-change: transform;
            display: grid;
            justify-content: center;
            align-items: center;
            //grid-template-columns: repeat(9, 360px);
            //grid-template-rows: repeat(1, 160px);
            //grid-template: repeat(1, 160px) / repeat(9, 360px);
            /*gap: 96px;*/
            transform: translateX(100vw);
            &.active {
                filter: grayscale(1);
            }
        }
    }

    .controller {
        position: fixed;
        top: calc(50% + 252px);
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: 110;
        .controllerButton {
            position: relative;
            color: #464646;
            width: 96px;
            height: 48px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;
            z-index: 111;
            font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;

            .controllText {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 900;
            }
            i {
                font-size: 22px;
                color: #0178d5;
            }
            &.filterButton {
                width: 48px;
                font-weight: normal;
                flex-direction: column;
                i {
                    color: #0178d5;
                    font-size: 36px;
                }
                .controllText {
                    position: absolute;
                    width: 64px;
                    top: 48px;
                }
            }
            &:hover {
                color: #1f3c70;
            }
            &.active {
                background-color: #efefef;
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
                color: #1c1c1c;
            }
        }
        .filter {
            //background-color: #ccc;
            pointer-events: all;
            position: fixed;
            top: calc(50% - 120px);
            display: grid;
            grid-template-columns: repeat(4, 260px);
            grid-template-rows: repeat(2, 120px);
            gap: 1px;
            transition: all 0.2s ease-in-out;

            &::before {
                content: "배정조건";
                position: absolute;
                color: #fff;
                width: 200px;
                text-align: center;
                font-size: 32px;
                letter-spacing: 8px;
                z-index: 100;
                top: -96px;
                left: calc(50% - 100px);
            }

            .filterClose {
                position: fixed;
                background: rgba(0, 0, 0, 0.64);
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .checkbox {
                //background: rgba(255,255,255,0.86);
                background: #fff;
                padding: 16px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;
                z-index: 1;
                .checkboxInput {
                    //border: 1px solid #f00;
                    position: relative;
                    width: 24px;
                    height: 24px;
                }
                .check {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    &::after {
                        position: absolute;
                        content: "";
                        display: flex;
                        width: 18px;
                        height: 18px;
                        left: -1px;
                        top: -1px;

                        border: 2px solid rgba(0, 0, 0, 0.16);
                        background-color: #fff;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    &:checked {
                        &::after {
                            content: "";
                            background-color: #1c1c1c;
                            background-image: url("check.png");
                        }
                        &::before {
                            content: "";
                        }
                    }
                    &:disabled {
                        &::after {
                            content: "";
                            background-color: #a4a4a4;
                        }
                    }
                }
                .checkboxText {
                    display: flex;
                    flex-direction: column;
                    margin-left: 8px;
                    z-index: 1;
                    .label {
                        font-size: 16px;
                        font-weight: 900;
                        color: #1f3c70;
                        height: 26px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        cursor: pointer;
                    }
                    .comment {
                        word-break: keep-all;
                        font-size: 14px;
                        color: #7c7c7c;
                    }
                }
            }
        }
        &.active {
            .controllerButton {
                color: #efefef;
                &.filterButton {
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        border: 4px solid #02519b;
                        width: 24px;
                        height: 24px;
                        transform: rotate(45deg);
                    }
                }
                &.filterButton i {
                    //border: 3px solid #056dcd;
                    border-radius: 24px;
                    font-size: 22px;
                    font-weight: 900;
                    padding: 0;
                }
            }
        }
    }

    .detail {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        transform: translateY(48px);
        .detailContainer {
            transform: translateY(-48px);
        }
    }
}

.filterBox {
    border: 1px solid #f00;
}

.filterInfo {
    display: flex;
    padding: 8px 0;
    position: absolute;
    bottom: -48px;
    left: 0;
    .infobox {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        margin-right: 32px;
        z-index: 1;
        &.boxchecked {
            &:before {
                background-color: #1c1c1c;
            }
        }
        &.boxdisable {
            &:before {
                background-color: #a4a4a4;
            }
        }
        &:before {
            content: "";
            width: 20px;
            height: 20px;
            display: block;
            z-index: 1;
            background-color: #fff;
            background-image: url("check.png");
            background-position: center;
            border: 2px solid rgba(0, 0, 0, 0.16);
            margin-right: 8px;
        }
    }
}

.callButton {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 126px;
    height: 64px;
    left: calc(50% - 63px);
    top: calc(50% - 243px);
    color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .callButtonText {
        z-index: 1;
        font-weight: 500;
    }
    i {
        z-index: 1;
        font-size: 21px;
        padding: 4px;
    }
    &.active {
        opacity: 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #1c1c1c, #1f3c70);
        box-shadow: 0px 0px 32px rgba(5, 109, 205, 0.64);
        z-index: 0;
        transition: background 0.24s ease-in-out, box-shadow 0.24s ease-in-out;
    }
    &:hover {
        &::before {
            //background: #1f3c70;
            box-shadow: 0px 0px 8px rgba(5, 109, 205, 0.86);
        }
    }
}
