$centerSize: 360px;
$defaultSize: 48px;
$halfSize: 24px;
$duration: 0.24s;
$minSize: 4px;

.listItem {
    width: 100%;
    height: 100%;
}

.listItem {
    will-change: transform;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //user-select: none;
    //filter: grayscale(100%);
    transition: height $duration ease-in-out, filter $duration ease-in-out;
    &:hover {
        .boxLine {
            border-color: rgba(5, 109, 205, 1);
            /*width: 50%;
            height: 50%;*/
            &:nth-child(1) {
                width: calc(100% - 8px);
            }
            &:nth-child(2) {
                height: calc(100% - 8px);
            }
            &:nth-child(3) {
                height: calc(100% - 8px);
            }
            &:nth-child(4) {
                width: calc(100% - 8px);
            }
        }
    }
    &:last-child {
        margin-right: 0 !important;
    }
    &.active {
        filter: none;
        height: 360px;
        z-index: 1;
        .aircraft {
            transform: scale(1.26);
        }
        .item {
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .itemTitleGroup {
                text-align: center;
            }
            .itemPercent {
                position: relative;
                font-size: 36px;
            }
            .itemTitle {
                position: relative;
                font-size: 24px;
                font-weight: bold;
            }
            .itemSubText {
                position: relative;
                color: #ccc;
            }
            .itemRating {
                position: relative;
                color: #656565;
                font-weight: bold;
            }
            .detailButton {
                opacity: 1;
            }
        }
    }
    &:hover {
        filter: none;
    }
    .item {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        .itemTitle {
            font-size: 16px;
            font-weight: bold;
            color: #1c1c1c;
            position: relative;
            z-index: 1;
        }
        .itemPercent {
            width: 90px;
            font-size: 24px;
            position: relative;
            z-index: 1;
            font-family: "Urbanist", sans-serif;
        }
        
        .detailButtonGrid {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        
    }
    .aircraftGroup {
        //pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 12px;
        display: flex;
        z-index: 0;

        .aircraft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
                width: 240px;
                height: fit-content;
            }
        }
    }
}
