$centerSize: 360px;
$defaultSize: 48px;
$halfSize: 24px;
$duration: 0.24s;
$minSize: 4px;

.listItem {
    width: 100%;
    height: 100%;
}

.listItem {
    will-change: transform;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    //filter: grayscale(100%);
    transition: height $duration ease-in-out, filter $duration ease-in-out;
    &:hover {
        .boxLine {
            border-color: rgba(5, 109, 205, 1);
            width: 12px;
            height: 12px;
            /*&:nth-child(1) {
                width: calc(100% - 8px);
            }
            &:nth-child(2) {
                height: calc(100% - 8px);
            }
            &:nth-child(3) {
                height: calc(100% - 8px);
            }
            &:nth-child(4) {
                width: calc(100% - 8px);
            }*/
        }
    }
    &:last-child {
        margin-right: 0 !important;
    }
    &.active {
        filter: none;
        //height: 360px;
        z-index: 0;
        .item {
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .itemTitleGroup {
                text-align: center;
            }
            .itemPercent {
                position: relative;
                font-size: 32px;
            }
            .itemTitle {
                position: relative;
                font-size: 24px;
                font-weight: 900;
            }
            .itemSubText {
                position: relative;
                color: #a4a4a4;
                font-weight: 900;
            }
            .itemRating {
                position: relative;
                color: #656565;
                font-weight: 900;
            }
            .detailButton {
                opacity: 1;
            }
        }
    }
    &:hover {
        filter: none;
    }
    .item {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        .itemTitle {
            font-size: 16px;
            font-weight: 900;
            color: #1c1c1c;
            position: relative;
            z-index: 1;
        }
        .itemPercent {
            width: 120px;
            font-size: 21px;
            position: relative;
            z-index: 1;
            font-family: "GmarketSans", sans-serif;
        }

        .detailButtonGrid {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .itemIndex {
            font-weight: 900;
            color: #a4a4a4;
            z-index: 1;
            position: absolute;
            right: 8px;
            top: 0px;
            font-size: 36px;
            text-align: right;
        }
    }
    .aircraftGroup {
        //pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 12px;
        display: flex;
        z-index: 0;

        .aircraft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
                width: 240px;
                height: fit-content;
            }
        }
    }
}

.detailButton {
    //opacity: 0;
    pointer-events: all;
    position: absolute;
    //top: 100%;
    top: calc(100% + 100px);
    overflow: hidden;
    width: 126px;
    height: 64px;
    z-index: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    .detailButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.24s ease-in-out;
        &.active {
            transform: translateY(-66px);
        }
        .detailText {
            z-index: 1;
            padding: 8px;
            height: 66px;
            color: #fff;
            font-weight: 900;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            i {
                font-size: 18px;
                padding-top: 4px;
                color: #0178d5;
            }
        }
    }

    &::before {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }
}