$duration: 0.24s;

.base {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity $duration ease-in-out;

  .baseContents {
    position: relative;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    transition: width $duration ease-in-out, height $duration ease-in-out;
    .baseBox {
      //border: 1px solid rgb(2, 81, 155);
      width: 100%;
      height: 100%;
      transition: transform 0.24s ease-in-out;
      transform: rotate(45deg);
      &::before {
        content: "";
        border-left: 1px solid #d3d3d3;
        background: #fff;
        position: absolute;
        width: calc(100% + 1px);
        height: 100vw;
        top: calc(100% + -1px);
        right: -2px;
        box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.08);
      }
      &::after {
        content: "";
        border-right: 1px solid #d3d3d3;
        background: #fff;
        position: absolute;
        width: calc(100% + 1px);
        height: 100vw;
        bottom: calc(100% - 1px);
        left: -2px;
        box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.08);
        //background: linear-gradient(0deg, #fff 0%, rgba(0,212,255,1) 100%);
      }
      /*.base {
        width: 100%;
        height: 100%;
        border: 8px solid;
      }*/
      &.active {
        transform: rotate(45deg);
      }
    }
    .inBox {
      z-index: 1;
      background: linear-gradient(145deg, #056dcd, #1f3c70, #056dcd);
      background-size: 400%;
      animation: baseAnime 3s ease infinite;
      width: 100%;
      height: 100%;
      transform: scale(1.41);
      position: absolute;
      clip-path: polygon(
        0 50%,
        50% 100%,
        50% 97.5%,
        2.5% 50%,
        50% 2.5%,
        97.5% 50%,
        50% 97.5%,
        50% 100%,
        100% 50%,
        50% 0
      );
    }
    .detailButton {
      pointer-events: none;
      top: 100%;
      &::before {
        background: linear-gradient(45deg, #1c1c1c, #1f3c70);
        background-size: 300%;
        animation: baseAnime 3s ease infinite;
      }
    }
  }
  &.active {
    opacity: 0;
  }
}
.slice {
  width: calc(360px * 9);
  height: calc(360px * 10);
  position: absolute;
  display: flex;
  flex-direction: row;
  left: calc(50% - 1620px);
  transform: rotate(45deg);
  transform-origin: center;
  .sliceLine {
    width: 360px;
    height: 100%;
    max-width: 360px;
    min-width: 360px;
    border-left: 1px solid #dfdfdf;
    border-image: linear-gradient(to bottom, #ccc, #efefef, #ccc);
    border-image-slice: 1;
    //box-shadow: 16px 0px 16px rgba(0, 0, 0, 0.1);
  }
}
@keyframes baseAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
