.load {
    .callButton {
        //pointer-events: none;
        user-select: none;
        width: 124px;
        height: 124px;
        left: calc(50% - 62px);
        top: calc(50% - 66px);
        &:hover {
            &::before {
                background: #1c1c1c;
            }
        }
        .callButtonText {
            text-align: center;
            word-break: keep-all;
            word-spacing: normal;
        }
    }
    .graph {
        &.active {
            .canvas {
                transition: all 0.24s ease-in-out;
                transition-delay: 1s;
                filter: grayscale(1);
                //transform: scale(8);
                opacity: 0;
            }
            .callButton {
                transition: all 0.24s ease-in-out;
                transition-delay: 0.8s;
                width: 48px;
                height: 48px;
                left: calc(50% - 24px);
                top: calc(50% - 24px);
                .callButtonText {
                    transition: all 0.24s ease-in-out;
                    transition-delay: 0.8s;
                    opacity: 0;
                }
            }
        }
    }
}
