$centerSize: 360px;
$defaultSize: 48px;
$halfSize: 24px;
$duration: 0.24s;
$radius: 16px;

.App {
  min-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .header {
    width: 100%;
    height: $halfSize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $halfSize;
  }
  .main {
    flex: 1;
    width: 100%;
    padding: 0 $halfSize;
    display: flex;
    .contents {
      position: relative;
      background: #fff;
      width: 100%;
      border-radius: $radius;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      justify-content: space-between;
      overflow: hidden;
      &.loading {
        .baseBox {
          &::before, &::after {
            content: none;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: $halfSize;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c7c7c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 $halfSize;
  }
}


/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
