$defaultSize: 48px;
$halfSize: 24px;

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //background-color: #1c1c1c;
}

.nav {
  width: 100%;
  height: $halfSize;
  padding: 0 $halfSize;
  display: flex;
  justify-content: flex-end;
  .navButton {
    width: $halfSize;
    height: $halfSize;
  }
}
.main {
  padding: 0 $halfSize;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: $halfSize $halfSize 0 $halfSize;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .flipper {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      .swiperContainer {
        width: 100%;
        height: 100%;
        &.active {
          filter: blur(8px);
        }
      }
    }
  }
}
.top {
  display: flex;
  justify-content: space-between;
  .topLogo {
    position: absolute;
    width: 168px;
    height: 168px;
    top: -84px;
    left: calc(50% - 84px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1001;
    .logoBase {
      position: absolute;
      z-index: 0;
      width: 168px;
      height: 168px;
      background-color: #1f3c70;
      box-shadow: inset 0 -8px 16px rgba(0, 0, 0, 0.48);
      transform: rotate(45deg);
      transform-origin: center;
    }
    .logo {
      z-index: 1;
      width: 108px;
      height: 54px;
      margin-bottom: 16px;
      background-image: url("/logo.png");
    }
  }
  .topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    .topButton {
      font-size: 14px;
      font-weight: 500;
      padding: 0 24px;
      height: 24px;
      color: #d3d3d3;
      letter-spacing: 1px;
      /*&::after {
        content: "·";
        margin-left: 24px;
        margin-right:24px;
        text-decoration: none;
      }*/
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &.active,
      &:hover {
        color: #1c1c1c;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
  .topView {
    display: flex;
    justify-content: center;
    align-items: center;
    .viewText {
      margin-right: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #7c7c7c;
      letter-spacing: 1px;
    }
    .viewButton {
      width: 48px;
      height: 48px;
      border: 1px solid #d3d3d3;
      color: #d3d3d3;
      font-size: 21px;
      &:nth-child(2) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: none;
      }
      &:hover {
        //background-color: #f00;
        color: #7c7c7c;
      }
      &.active {
        background-color: #efefef;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
        color: #1c1c1c;
      }
    }
  }
}
.step {
  //border: 1px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 24px;
  .stepGroup {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 620px;
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid #ccc;
      width: calc(100% - 60px);
      top: 8px;
      left: 30px;
    }
    .stepItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80px;
      .stepItemTitle {
        font-size: 14px;
        color: #7c7c7c;
      }
      .stepItemComment {
        font-size: 12px;
        color: #d3d3d3;
      }
      &::before {
        content: "";
        border: 4px solid #fff;
        background-color: #d3d3d3;
        width: 9px;
        height: 9px;
        transform: rotate(45deg);
        transform-origin: center;
        margin-bottom: 8px;
      }
      &.active {
        .stepItemTitle {
          color: #1f3c70;
        }
        .stepItemComment {
          color: #7c7c7c;
        }
        &::before {
          border: 4px solid #1f3c70;
          background-color: #fff;
        }
      }
    }
  }
}

.listItem {
  will-change: transform;
  //background-color: #fff;
  padding: 24px;
  width: 100%;
  height: 100%;
  min-height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  .boxLineGroup {
    //pointer-events: none;
    //border: 2px solid #f00;
    will-change: transform;
    transition: transform 0.24s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #fff;
    .boxLineBase {
      position: absolute;
      top: 8px;
      left: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      display: flex;
      background-color: #f6f6f6;
      z-index: 1;
    }
    .boxLine {
      transition: border 0.3s ease-in-out;
      position: absolute;
      border: 2px solid rgba(0, 0, 0, 0.08);
      width: 16px;
      height: 16px;
      display: flex;
      &:nth-child(3) {
        border-right: 0;
        border-bottom: 0;
      }
      &:nth-child(4) {
        right: 0px;
        border-left: 0;
        border-bottom: 0;
      }
      &:nth-child(5) {
        bottom: 0px;
        border-right: 0;
        border-top: 0;
      }
      &:nth-child(6) {
        right: 0px;
        bottom: 0px;
        border-left: 0;
        border-top: 0;
      }
    }
  }

  .itemGueage {
    //pointer-events: none;
    position: relative;
    background-color: #ccc;
    width: 90px;
    height: 8px;
    display: flex;
    z-index: 1;
    .itemBar {
      position: absolute;
      background-color: #f00;
      width: 50%;
      height: 8px;
      z-index: 0;
    }
    .gueaguBox {
      width: 9px;
      height: 8px;
      z-index: 1;
      border-right: 1px solid #fff;
    }
  }
  .itemTitle {
    //pointer-events: none;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: #1c1c1c;
    position: relative;
    z-index: 1;
    .itemTitleGray {
      color: #d3d3d3;
    }
  }
  .itemPercent {
    //pointer-events: none;
    width: 90px;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    font-family: "Major Mono Display", monospace;
    letter-spacing: -0.16em;
  }
  .aircraftGroup {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 12px;
    display: flex;
    z-index: 0;

    .aircraft {
      //background-color: rgba(0, 0, 0, 0.016);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 240px;
        height: fit-content;
        filter: blur(0px) grayscale(100%);
      }
    }
  }
  .detailButton {
    z-index: 100;
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0px;
    right: -25px;
    transform: rotate(-45deg);
    display: none;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
    .detailText {
      z-index: 1;
      color: #fff;
      padding-top: 8px;
    }
    &::before {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      transform: rotate(45deg);
      background: #056dcd;
      bottom: 20px;
    }
  }
  .graph {
    z-index: 100;
  }
  &:hover {
    .boxLineGroup {
      .boxLine {
        border-color: rgba(5, 109, 205, 1);
      }
    }
  }
  &.active {
    z-index: 100;
    align-items: center;
    .boxLineGroup {
      transform: rotate(45deg);
      background: linear-gradient(90deg, rgba(31, 60, 112, 1) 0%, rgba(5, 109, 205, 1) 100%);
      .boxLineBase {
        background-color: #fff;
      }
    }
    .aircraftGroup {
      .aircraft {
        img {
          filter: blur(0px) grayscale(0%);
        }
      }
    }
    .detailButton {
      display: flex;
    }
    .itemPercent {
      //font-size: 36px;
      line-height: 38px;
    }
    &:hover {
      .boxLineGroup {
        .boxLine {
          border-color: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }
}

.listItemExpend {
  padding: 0;
  justify-content: center;
  align-items: center;
  .itemTitle {
    position: absolute;
    width: auto;
    left: calc(50% - 680px);
    top: 56px;
    font-size: 48px;
  }
  .itemPoint {
    position: absolute;
    left: calc(50% - 676px);
    top: 142px !important;
    text-decoration: underline;
  }
  .itemPercent {
    font-size: 96px;
    position: absolute;
    left: calc(50% - 690px);
    top: 190px !important;
  }
  .boxLineGroup {
    //box-shadow: 8px 0px 16px rgb(0, 0, 0, 0.24);
    &::before {
      content: "before";
      border-left: 1px solid #d3d3d3;
      position: absolute;
      width: 100%;
      height: 100vw;
      box-shadow: -8px 0px 16px rgb(0, 0, 0, 0.16);
    }
    &::after {
      content: "after";
      border-right: 1px solid #d3d3d3;
      position: absolute;
      width: 100%;
      height: 100vw;
      bottom: 0;
      box-shadow: 8px 0px 16px rgb(0, 0, 0, 0.16);
      //background: linear-gradient(0deg, #fff 0%, rgba(0,212,255,1) 100%);
    }
  }
}

.footer {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7c;
  font-size: 12px;
  text-transform: uppercase;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.slot {
  display: flex;
  width: 100%;
  justify-content: center;
}

.detail {
  //background-color: rgba(255,255,255,0.48);
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //top: 0;
  z-index: 100;
  .detailContainer {
    width: 360px;
    height: 360px;
    .detailContents {
      z-index: 1;
      position: absolute;
      left: calc(50% + 189px);
      top: calc(50% - 109px);
      display: grid;
      grid-template-columns: 70px 70px 70px 70px 70px;
      grid-template-rows: 70px 70px 70px 70px 70px;
      .sideItem {
        position: relative;
        width: 78px;
        height: 78px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .sideItemBase {
          background-color: #fff;
          border: 1px solid #ccc;
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 0;
          transform: rotate(45deg);
          &::after {
            display: flex;
            content: "";
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            background-color: #fbfbfb;
            border: 1px solid #efefef;
          }
        }
        .sideItemIcon {
          z-index: 1;
          height: 26px;
          font-size: 24px;
          color: #b4b4b4;
        }
        .sideItemTitle {
          z-index: 1;
          color: #1c1c1c;
        }
        .sideItemValue {
          z-index: 1;
          color: #0078d7;
          font-weight: bold;
        }
        &:nth-child(1) {
          grid-column: 1;
          grid-row: 4;
        }
        &:nth-child(2) {
          grid-column: 3;
          grid-row: 4;
        }
        &:nth-child(3) {
          grid-column: 2;
          grid-row: 3;
        }
        &:nth-child(4) {
          grid-column: 4;
          grid-row: 3;
        }
        &:nth-child(5) {
          grid-column: 3;
          grid-row: 2;
        }
        &:nth-child(6) {
          grid-column: 5;
          grid-row: 2;
        }
        &:nth-child(7) {
          grid-column: 4;
          grid-row: 1;
        }
        &:nth-child(8) {
          grid-column: 6;
          grid-row: 1;
        }
      }
    }
  }
}
