.head {
    display: flex;
    justify-content: space-between;
    z-index: 110;
    width: 100%;
    padding: 0 48px;
    position: relative;
    .topLogo {
        position: absolute;
        width: 254px;
        height: 127px;
        top: -24px;
        left: calc(50% - 127px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.48);
        background-color: #1f3c70;
        background: radial-gradient(circle, #056dcd, #1f3c70);
        background-size: 200% 300%;
        animation: baseAnime 3s ease infinite;
        .logo {
            z-index: 1;
            width: 108px;
            height: 54px;
            margin-bottom: 36px;
        }
    }
    .topNav {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .viewText {
            padding-right: 16px;
            font-size: 14px;
            font-weight: bold;
            color: #242424;
            letter-spacing: 1px;
        }
        .topButton {
            font-size: 14px;
            font-weight: 500;
            padding: 0 16px;
            height: 24px;
            color: #d3d3d3;
            letter-spacing: 1px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            &.active,
            &:hover {
                color: #1c1c1c;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
    .topView {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .viewText {
            margin-right: 8px;
            font-size: 14px;
            font-weight: 500;
            color: #7c7c7c;
            letter-spacing: 1px;
        }
        .viewButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid #d3d3d3;
            background-color: #fff;
            color: #d3d3d3;
            font-size: 21px;
            &:nth-child(2) {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border-right: none;
            }
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-left: none;
            }
            &:hover {
                color: #7c7c7c;
            }
            &.active {
                background-color: #efefef;
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
                color: #1c1c1c;
            }
        }
    }
}
